// RWD Bases
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

// Imágenes y videos responsive
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
