-let pageTitle = 'Home'
-let siteName = 'Axwi'
-let twitterAccount = ''
-let pageDescription = 'Esta es una biblioteca minimalista de CSS/Sass para crear RWD.'
-let pageImage = ''
-
  let pages = [
    {
      title: 'Item1',
      url: '/',
      child: []
    },
    {
      title: 'Item2',
      url: 'item2.html',
      child: [
        {
          title: 'Subitem1',
          url: 'subitem1.html'
        },
        {
          title: 'Subitem2',
          url: 'subitem2.html'
        }
      ]
    }
  ]
